<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    
</head>
<body style="width: 1600px; margin: auto;" >
    
    
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/" style="margin-left: 20px;">
                    <strong >账户管理系统</strong>
                </a>
            
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
        
            
        
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                    {% if user.is_authenticated %}
                    <a class="button is-primary" href="{% url '添加'%}">
                        添加
                    </a>
                    <a class="button is-primary" href="{% url '退出'%}">
                        退出
                    </a>

                    {% else %}    
                        <a class="button is-light" href="{% url '注册' %}">
                        <strong>注册</strong>
                        </a>
                        <a class="button is-primary" href="{% url '登录' %}">
                        登陆
                        </a>
                    {% endif %}    

                    </div>
                </div>
            </div>
            
        </nav>

        {% block login %}
        {% endblock login %}

        {% block add %}
        {% endblock add %}

        {% block basic_info %}
        {% endblock basic_info %}

        {% block display_list %}
        {% endblock display_list %}

        {% block search_list %}
        {% endblock search_list %}

        {% block register %}          
        {% endblock register %}
       
</body>
<script type="text/javascript" src="/static/js/citydatas.js"></script>
<script type="text/javascript" src="/static/js/select.js"></script>
<script type="text/javascript" src="/static/js/birthday.js"></script>
<script type="text/javascript" src="/static/js/birthday_select.js"></script>
<script type="text/javascript" src="/static/js/age.js"></script>
</html>
