<form action="">
<nav class="level navbar is-light" style="margin-top: 5px;">
    <div class="level-item level-left ">            
        请选择地区：
        <div class="select is-danger" style="margin-right: 50px;">
            <select id="area">
                <option>中国大陆</option> 
            </select>
        </div>
        请选择省份：
        <div class="select is-info" style="margin-right: 50px;">
                <select id="province" >
            
                </select>
        </div>
        请选择城市：
        <div class="select is-info" style="margin-right: 50px;">
                <select id="city">                  
                    
                </select>
        </div>
        请选择区县：
        <div class="select is-info" style="margin-right: 100px;">
                <select id="county">                  
                    
                </select>
        </div>
        <div class="buttons"><input class="button is-link" type="submit" value="搜索"></div>
    </div>
 </nav>       
</form>



 







 
   
    