
<table class="table is-fullwidth" style="margin-top: 10px;">
  <thead>
    <tr>
      <th>编号</th>
      <th>账号</th>
      <th>地区</th>
      <th>省份</th>
      <th>城市</th>
      <th>区县</th>
      <th>性别</th>
      <th>生日</th>
      <th>学历</th>
      <th>行业</th>
      <th>职位</th>
      <th>婚姻状态</th>
      <th>工作状态</th>
      <th>小孩</th>
      <th>邮编</th>
      <th>拥有者</th>
    </tr>
  </thead>
  <tfoot> 
  {% for acc in 账号 %}
    <tr >
      <td>{{acc.id}}</td>
      <td>{{acc.account}}</td>
      <td>{{acc.area}}</td>
      <td>{{acc.province}}</td>
      <td>{{acc.city}}</td>
      <td>{{acc.county}}</td>
      <td>{{acc.sex}}</td>
      <td>{{acc.birthday}}</td>
      <td>{{acc.edu}}</td>
      <td>{{acc.trade}}</td>
      <td>{{acc.position}}</td>
      <td>{{acc.marriage}}</td>
      <td>{{acc.working}}</td>
      <td>{{acc.child}}</td>
      <td>{{acc.zip_code}}</td>
      <td>{{acc.user}}</td>
    </tr>
  {% endfor %}  
  </tfoot>
  
</table>
