{% extends 'bast.html' %}


{% block login %}
<div>
<h2>欢迎您的到来</h2>
        {{错误}}
        
        <form class="form-horizontal" action="{% url '登录' %}" method="POST" >
        {% csrf_token %}
        <div class="form-group">
            <label for="user_name">用户名：</label>
            <input type="text" name="username" >
        </div>
        
        <div class="form-group">
                <label for="password">密码：</label>
                <input type="password" name="password">
        </div>
        
        <input type="submit" value="登陆">
    </form>

</div>
{% endblock login %}
