{% extends 'bast.html' %}

<div>
    {% block basic_info %}

        {% include 'choose.html' %}

    {% endblock basic_info %}
</div>


{% block search_list %}
<div>
<table class="table is-fullwidth" style="margin-top: 10px;">

  <thead>
    <tr>      
      <th>账号</th>
      <th>地区</th>
      <th>省份</th>
      <th>城市</th>
      <th>区县</th>
      <th>性别</th>
      <th>生日</th>
      <th>年龄</th>
      <th>个人月收入</th>
      <th>家庭月收入</th>
      <th>学历</th>
      <th>行业</th>
      <th>职位</th>
      <th>婚姻状态</th>
      <th>工作状态</th>
      <th>小孩</th>
      <th>邮编</th>
      <th>拥有者</th>
      <th>操作</th>
    </tr>
  </thead>
  
    
  <tfoot> 
  {% for ss in page %}
    <tr >      
      <td>{{ss.account}}</td>
      <td>{{ss.area}}</td>
      <td>{{ss.province}}</td>
      <td>{{ss.city}}</td>
      <td>{{ss.county}}</td>
      <td>{{ss.sex}}</td>
      <td>{{ss.birthday}}</td>
      <td id="age" name="age">{{ss.age}}</td>
      <td>{{ss.personal_monthly_income}}</td>
      <td>{{ss.family_monthly_income}}</td>
      <td>{{ss.edu}}</td>
      <td>{{ss.trade}}</td>
      <td>{{ss.position}}</td>
      <td>{{ss.marriage}}</td>
      <td>{{ss.working}}</td>
      <td>{{ss.child}}</td>
      <td>{{ss.zip_code}}</td>
      <td>{{ss.user}}</td>
      <form action="" method="POST">
        <td>
          <a href="{% url '删除' ss.id %}" style="text-decoration-line: none ">删除</a>
        </td>
      </form>
    </tr>
    
  {% endfor %}  
  </tfoot>
  
</table>
<div>



  
   
  
        

  <nav class="pagination" role="navigation" aria-label="pagination">
  {% if page_list.has_previous %}
    <a class="pagination-previous" href="?area={{ area }}&previous={{ province }}&city={{ city }}&county={{ county }}&page={{page_list.previous_page_number}}">上一页</a>
  {% else %}
    <a class="pagination-previous" disabled>上一页</a>
  {% endif %}

    
 
 


  {% if page_list.has_next %}
    <a class="pagination-next" href="?area={{ area }}&previous={{ province }}&city={{ city }}&county={{ county }}&page={{page_list.next_page_number}}">下一页</a>
  {% else %}
    <a class="pagination-next" disabled>下一页</a>
  {% endif %}   
  <ul class="pagination-list">
  {% for a in page_of_pages %}
  
   {% if a == current_page %}
    <li>
      <a class="pagination-link is-current" aria-label="Page 1" aria-current="page" href="?area={{ area }}&previous={{ province }}&city={{ city }}&county={{ county }}&page={{a}}">{{ a }}</a>
    </li>
    {% else %}
    <li>
      <a class="pagination-link" aria-label="Goto page 2" href="?area={{ area }}&previous={{ province }}&city={{ city }}&county={{ county }}&page={{a}}">{{ a }}</a>
    </li>

    {% endif %}
  {% endfor %}
</nav>  



  

</div>
{% endblock search_list %}
